<%= render "layouts/header" %>

<!--<p id="notice"><%= notice %></p>-->

<div class="d-flex justify-content-between">
  <h1 class="text-danger">Suspended Notes</h1>
  <div>
    <!-- filtri -->
  </div>
</div>

<!--<%= render "layouts/table_view" %>-->

<%= render "layouts/cards_view" %>