<div class="modal fade" id="appInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">About this app...</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        <p class="text-justify text-muted">
            Introducing ShareYourNotes, the pinnacle of collaborative learning platforms, crafted with precision and passion by a talented team of five university students. Developed using the robust and versatile Ruby on Rails framework, ShareYourNotes revolutionizes the way students share and access academic resources. This web app stands out as the best in the world due to its intuitive interface, seamless user experience, and innovative features designed to foster a thriving educational community. With ShareYourNotes, students can effortlessly upload, organize, and search for notes across various subjects, ensuring they never miss a crucial piece of information. The platform also incorporates real-time collaboration tools, allowing users to work together on projects and study materials, enhancing the learning experience through peer interaction. Security and privacy are paramount, with state-of-the-art encryption and secure login protocols safeguarding users' data. The dedication and ingenuity of the development team are evident in every aspect of the app, from its responsive design to its scalable architecture, making ShareYourNotes an indispensable tool for students worldwide. Embrace the future of academic collaboration with ShareYourNotes – where knowledge is shared, and success is collective.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>