<%= render "layouts/header" %>

<%= render 'styled_form', user: @user %>

<div class="d-flex mx-5 my-3">
    <%= link_to 'Back', user_path(@user), class:"btn btn-warning m-1" %>
</div>

<%= render "layouts/footer" %>