/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Delicious+Handrawn&family=Fasthand&display=swap');

body{
    height: 100vh;
    padding: 1%;
    padding-top: 3%;
} 
.container{
    height: 100%;
}

.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-style: normal;
  }
  
.delicious-handrawn-regular {
    font-family: "Delicious Handrawn", cursive;
    font-style: normal;
}

.card-img {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.bb-dashed {
    border-style: none none dashed none;
    border-width: thin;
}

.bt-dashed {
    border-style: dashed none none none;
    border-width: thin;
}