<%= render "layouts/header" %>

<div class="row row-cols-1 row-cols-md-5 g-5 m-5">
  <div class="col">
    <div class="card">
      <div class="ratio ratio-1x1 d-flex">
        <img style="height:auto;" src="https://avatars.githubusercontent.com/u/51923375?v=4" width="260" height="260" class="flex-fill">
      </div>
      <div class="card-body">
        <h5 class="card-title">doltishpunk</h5>
        <p class="card-text">wants_to_enter[0] ← true</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="ratio ratio-1x1 d-flex">
        <img style="height:auto;" src="https://avatars.githubusercontent.com/u/163561672?v=4" width="260" height="260" class="flex-fill">
      </div>
      <div class="card-body">
        <h5 class="card-title">ElBlurk</h5>
        <p class="card-text">while wants_to_enter[1] {</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="ratio ratio-1x1 d-flex">
        <img style="height:auto;" src="https://avatars.githubusercontent.com/u/154224684?v=4" width="260" height="260" class="flex-fill">
      </div>
      <div class="card-body">
        <h5 class="card-title">Hepe02</h5>
        <p class="card-text">if turn ≠ 0 {</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="ratio ratio-1x1 d-flex">
        <img style="height:auto;" src="https://avatars.githubusercontent.com/u/66387301?v=4" width="260" height="260" class="flex-fill">
      </div>
      <div class="card-body">
        <h5 class="card-title">Lxlp</h5>
        <p class="card-text">wants_to_enter[0] ← </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="ratio ratio-1x1 d-flex">
        <img style="height:auto;" src="https://avatars.githubusercontent.com/u/69471711?v=4" width="260" height="260" class="flex-fill">
      </div>
      <div class="card-body">
        <h5 class="card-title">volpeffervescente</h5>
        <p class="card-text">gcc -g null_pointer.c -o null_pointer</p>
      </div>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>