<%= render "layouts/header" %>

<div class="row m-0 p-0">
  <div class="col-3 border-end overflow-auto m-0 p-0 my-3" style="height: 100vh;">

    <h6> <a href="#general-questions-functionality" class="text-decoration-none text-info"> <b> General Questions - Functionality </b> </a> </h6>
    <ul class="list-group list-group-flush">
      <li class="list-group-item border-0"><a class="text-decoration-none text-secondary" href="#general-questions-upload-a-note">How to upload a note?</a></li>
      <li class="list-group-item border-0"><a class="text-decoration-none text-secondary" href="#general-questions-upload-a-note-2">How to upload a note 2?</a></li>
    </ul>

  </div>

  <div class="col">
    <div class="m-5">
      <h1 class="text-primary"> <b> <i> FAQs - Frequently Asked Questions </i> </b> </h1>

      <hr class="bg-danger border-2 border-top border-dark" />

      <!-- Category start -->
      <h2 class = "text-info" id="general-questions-functionality"> <b> General Questions - Functionality </b> </h2>

        <!-- Question start -->
        <h3 class = "my-3" id="general-questions-upload-a-note"> <b> 1. How to upload a note? </b> </h3>

        <p> To upload a note fai questo e quello e mi sono già annoiato di scrivere </p>
        <!-- Question end -->
        <h3 class = "my-3" id="general-questions-upload-a-note-2"> <b> 2. How to upload a note? </b> </h3>

        <p> To upload a note fai questo e quello e mi sono già annoiato di scrivere </p>

      <!-- Category end -->

      <hr class="bg-danger border-2 border-top border-dark" />

      <!-- Category start -->
      <h2 class = "text-info" id="general-questions-functionality"> <b> General Questions 2 - Functionality 2 </b> </h2>

        <!-- Question start -->
        <h3 class = "my-3" id="general-questions-upload-a-note"> <b> 3. How to upload a note? </b> </h3>

        <p> To upload a note fai questo e quello e mi sono già annoiato di scrivere </p>
        <!-- Question end -->
        <h3 class = "my-3" id="general-questions-upload-a-note-2"> <b> 4. How to upload a note? </b> </h3>

        <p> To upload a note fai questo e quello e mi sono già annoiato di scrivere </p>

      <!-- Category end -->

    </div>
  </div>
</diV>

<%= render "layouts/footer" %>