<div class="mt-5"></div>

<div class="flex-fill"></div>

<div class="w-100 bg-dark p-3 d-flex text-info footer_div">
    <div class="d-flex align-items-center col mx-3">
        <div>
            <p> ShareYourNotes </p>
            <p class="text-light">© 2024</p>
        </div>
    </div>

    <div class="d-flex align-items-center col mx-3">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/0d/Uniroma1.svg" class="w-50 h-50">
    </div>

    <div class="col">
      <h5>Developers</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">doltishpunk</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">ElBlurk</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Hepe02</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Lxlp</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">volpeffervescente</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Contacts</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">apa.1713337@studenti.uniroma1.it</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">mariut.1986191@studenti.uniroma1.it</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">dellaratta.1994569@studenti.uniroma1.it</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">pierro.1990350@studenti.uniroma1.it</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">fortuna.1986101@studenti.uniroma1.it</a></li>
      </ul>
    </div>
</div>