<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-info rounded" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Admin
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li class="nav-item">
            <a aria-current="page"><%= link_to 'Reg. Users list', users_path, class:"nav-link active text-info text-dark" %></a>
        </li>
        <li class="nav-item">
            <a aria-current="page"><%= link_to 'Suspended notes', suspended_notes_path, class:"nav-link active text-info text-dark" %></a>
        </li>
        <li class="nav-item">
            <a aria-current="page"><%= link_to 'Notes reports', note_reports_path, class:"nav-link active text-info text-dark" %></a>
        </li>
    </ul>
</li>